<a href="https://colab.research.google.com/github/PranavPK18/Python/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex. 1 Validation Exception

In [33]:
class ValidationException(Exception):
    def __init__(self, message):
        super().__init__(message)

In [34]:
def validate_file(filename):
    with open(filename, 'r') as file:
        next(file)  # Skip the header line
        for line in file:
            parts = line.strip().split(',')
            if len(parts) != 2:
                continue  # skip malformed lines

            mileage_str = parts[1].strip()

            # Check if mileage is a valid integer
            if not mileage_str.isdigit():
                raise ValidationException(f"Invalid mileage:  {mileage_str}")

In [35]:
def ex1():
    try:
        validate_file("input.txt")
    except ValidationException as ve:
        print(ve)

ex1()

Invalid mileage:  32.13

Ex. 2 Total Gym Visits

In [36]:
def find_total_visits():
    total_visits = 0
    file_names = ["week-1.csv", "week-2.csv", "week-3.csv"]

    for filename in file_names:
        with open(filename, "r") as file:
            lines = file.readlines()
            for line in lines[1:]:  # Skip the header
                parts = line.strip().split(",")
                visits = parts[1:]  # Skip the name
                total_visits += sum(int(v.strip()) for v in visits)

    return total_visits

In [37]:
def ex2():
    total = find_total_visits()
    print(f"Total visits: {total}.")

ex2()

Total visits: 21.

Ex. 3 Word Counter I/O

In [38]:
def count_words(filename):
    small_words = set()
    large_words = set()

    with open(filename, 'r') as file:
        text = file.read()
        words = text.split()

        for word in words:
            if len(word) < 3:
                small_words.add(word)
            else:
                large_words.add(word)

    # Write small words to file
    with open("small-words.txt", "w") as sw_file:
        for word in sorted(small_words):
            sw_file.write(word + "\n")

    # Write large words to file
    with open("large-words.txt", "w") as lw_file:
        for word in sorted(large_words):
            lw_file.write(word + "\n")

    # Print to console
    print("large-words.txt:\n")
    for word in sorted(large_words):
        print(word)
    print("\nsmall-words.txt:\n")
    for word in sorted(small_words):
        print(word)

    # Return count of unique words
    return len(small_words.union(large_words))

In [39]:
def ex3():
    total_words = count_words("words.txt")
    print(f"\nTotal words: {total_words}.")

ex3()

large-words.txt:

How
This
are
extremely
file?
large
line.
many
second
test.
the
this
words

small-words.txt:

a
in
is

Total words: 16.

Ex. 4 Calculator Log S3

In [40]:
import boto3

def calculate():
    log = []
    student_id = "123456"  # Replace with your actual student ID
    filename = f"calculator-log-{student_id}.txt"
    bucket_name = "my-calculator-logs"  # Replace with your actual bucket name

    while True:
        first = input("Enter first number: ").strip()
        if first.lower() == 'q':
            break
        second = input("Enter second number: ").strip()

        try:
            num1 = int(first)
            num2 = int(second)
            result = num1 + num2
            line = f"{num1} + {num2} = {result}"
            print(line)
            log.append(line)
        except ValueError:
            print("Invalid input. Please enter integers or 'q' to quit.")

    # Write log to file
    with open(filename, "w") as f:
        for entry in log:
            f.write(entry + "\n")

    # Upload to S3
    s3 = boto3.client("s3")
    try:
        s3.upload_file(Filename=filename, Bucket=bucket_name, Key=filename)
        print("*** Uploaded to S3 ***")
    except Exception as e:
        print("Failed to upload to S3:", e)

In [41]:
!pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.12/dist-packages (1.40.53)
Requirement already satisfied: botocore<1.41.0,>=1.40.53 in /usr/local/lib/python3.12/dist-packages (from boto3) (1.40.53)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.12/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.15.0,>=0.14.0 in /usr/local/lib/python3.12/dist-packages (from boto3) (0.14.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.12/dist-packages (from botocore<1.41.0,>=1.40.53->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.12/dist-packages (from botocore<1.41.0,>=1.40.53->boto3) (2.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.41.0,>=1.40.53->boto3) (1.17.0)

In [42]:
def ex4():
    calculate()

ex4()

Enter first number: 1
Enter second number: 2
1 + 2 = 3
Enter first number: 2
Enter second number: 2
2 + 2 = 4
Enter first number: q
Failed to upload to S3: Unable to locate credentials

Ex. 5 Car List

In [43]:
from pprint import pprint

def build_car_list():
    car_list = []

    # Step 1: Read mileage data
    mileage_data = {}
    with open("input.txt", "r") as file:
        next(file)  # skip header
        for line in file:
            parts = line.strip().split(",")
            if len(parts) != 2:
                continue
            car_id_str, miles_str = parts
            try:
                car_id = int(car_id_str.strip())
                miles = int(miles_str.strip())  # this will raise if not a valid int
                mileage_data[car_id] = miles
            except ValueError:
                continue  # skip invalid mileage

    # Step 2: Read car model data
    car_models = {}
    with open("car-ids.txt", "r") as file:
        for line in file:
            parts = line.strip().split(",")
            if len(parts) != 2:
                continue
            car_id_str, model = parts
            try:
                car_id = int(car_id_str.strip())
                car_models[car_id] = model.strip()
            except ValueError:
                continue

    # Step 3: Merge data
    for car_id, miles in mileage_data.items():
        if car_id in car_models:
            car_list.append({
                'id': car_id,
                'miles': miles,
                'model': car_models[car_id]
            })

    return car_list

In [44]:
def ex5():
    car_list = build_car_list()
    pprint(car_list)

ex5()

[{'id': 1, 'miles': 10111, 'model': 'Ford'},
 {'id': 2, 'miles': 30333, 'model': 'Chevy'},
 {'id': 3, 'miles': 40443, 'model': 'Toyota'},
 {'id': 5, 'miles': 60000, 'model': 'Nissan'}]